<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australian Cricket Team</title>
</head>
<body>
        <h1>Players of Australian Cricket Team</h1>
        <ol>
            <li>David Warner</li>
            <li>Steve Smith</li>
            <li>Pat cummins</li>
            <li>Glen Maxwell</li>
            <li>Travis Head</li>
            <li>Mitchell Marsh</li>
            <li>Marnus Labuschagne</li>
            <li>Mitchell Starc</li>
            <li>Adam Zampa</li>
            <li>Josh Inglis</li>
            <li>Josh Hazlewood</li>
        </ol>

    <a href="{% url 'home:team' %}">Go to Home  page</a>
</body>
</html>