<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Cricket Team</title>
</head>
<body>
        <h1>Players of Indian Cricket Team</h1>
        <ol>
            <li>Rohit Sharma</li>
            <li>Subhman Gill</li>
            <li>Virat Kohli</li>
            <li>Shreyas Iyer</li>
            <li>KL Rahul</li>
            <li>Surya Kumar Yadav</li>
            <li>Ravindra Jadeja</li>
            <li>Jasprit Bumrah</li>
            <li>Mohamad Shami</li>
            <li>Kuldeep Yadav</li>
            <li>Mohamad Siraj</li>
        </ol>

    <a href="{% url 'home:team' %}">Go to Home  page</a>
</body>
</html>