<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South African Cricket Team</title>
</head>
<body>
        <h1>Players of South African Cricket Team</h1>
        <ol>
            <li>Temba Bavuma</li>
            <li>Quinton de Kock	</li>
            <li>Heinrich Klaasen</li>
            <li>Rassie van der Dussen</li>
            <li>Aiden Markram</li>
            <li>Keshav Maharaj</li>
            <li>Kagiso Rabada</li>
            <li>Tabraiz Shamsi</li>
            <li>David Miller</li>
            <li>Marco Jansen</li>
            <li>Lungi Ngidi</li>
        </ol>

    <a href="{% url 'home:team' %}">Go to Home  page</a>
</body>
</html>